# Cloud Deliverable

### Question 1

Download the online retail data set from Google Drive here. Using the AWS console (web interface) create a new S3 bucket called bstn_yourname_bucket and upload the data into it. Please document the steps you take (include screenshots). I have attached this as a separate document (PDF).

### Question 2

Install the boto3 package (conda install boto3) if you haven't already, and use it to: 

a) List S3 buckets you have available

b) List the contents of your S3 bucket (bstn-yourname-bucket) where you uploaded the CSV.

c) Access the data in the S3 bucket you've created, and read the data into a pandas dataframe. You will need to rely on the documentation for the S3 module and use boto3.client('s3') and/or boto3.resource('s3'). Also make sure to set your AWS access and secret keys before connecting within python.

First I saved the security key and access key:

In [1]:
import boto3
import pandas as pd

session = boto3.Session(
    aws_access_key_id = '******    aws_secret_access_key = '*******)

In [17]:
# Print the bucket name

# Let's use Amazon S3
s3 = boto3.resource('s3')
#s3 = session.resource('s3')

# Print out bucket names
for bucket in s3.buckets.all():
    print(bucket.name)

bstn-sebastien-bucket

In [19]:
# Prints the file names (keys) inside the bucket:

for my_bucket_object in bucket.objects.all():
    print(my_bucket_object)

s3.ObjectSummary(bucket_name='bstn-sebastien-bucket', key='Online Retail.csv')
s3.ObjectSummary(bucket_name='bstn-sebastien-bucket', key='modified.csv')

In [5]:
# Save the file to a df:

import boto3
import pandas as pd

#s3 = boto3.client('s3')
s3 = session.client('s3')
obj = s3.get_object(Bucket='bstn-sebastien-bucket', Key='Online Retail.csv')
df = pd.read_csv(obj['Body'])

In [6]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 8:26,3.39,17850.0,United Kingdom

### Question 3

Using pandas, create a new column TotalPrice and aggregate over the data to find the total per InvoiceNo. Join this new total back to your original data frame by InvoiceNo, and then use python and the boto3 package as above to upload the aggregated data to your S3 bucket in a new key Online Retail modified.csv. List the contents of your S3 bucket again to verify the upload.

In [7]:
# Create a Total Price column

df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [8]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 8:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34

In [9]:
# Create a total Invoice column:

df_gr = df.groupby('InvoiceNo').sum()
df_gr = df_gr.rename(columns={"TotalPrice": "Invoice Total"})
df_gr = df_gr.reset_index()
df_new = df.merge(df_gr[['InvoiceNo', 'Invoice Total']], how='inner', on='InvoiceNo', )

In [10]:
df_new.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Invoice Total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,United Kingdom,15.30,139.12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34,139.12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 8:26,2.75,17850.0,United Kingdom,22.00,139.12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34,139.12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34,139.12

In [11]:
# Uploading the file back onto AWS: 

df_new.to_csv("modified.csv", index=False)

#s3 = boto3.resource('s3')
s3 = session.resource('s3')
s3.meta.client.upload_file("modified.csv", 'bstn-sebastien-bucket', 'modified.csv')

In [12]:
# Import the loaded file back into a df:

s3 = boto3.client('s3')
#s3 = session.client('s3')
obj = s3.get_object(Bucket='bstn-sebastien-bucket', Key='modified.csv')
df = pd.read_csv(obj['Body'])
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice,Invoice Total
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 8:26,2.55,17850.0,United Kingdom,15.30,139.12
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34,139.12
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 8:26,2.75,17850.0,United Kingdom,22.00,139.12
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34,139.12
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 8:26,3.39,17850.0,United Kingdom,20.34,139.12

### Question 4

Is there an easier way to accomplish the above? Can you find an easy way to read and write data from S3 without using the console or boto3 package? (hint: check to see if pandas can interact with S3)

We can just do this by doing 'conda install s3fs'. Then when this is installed we can use pandas to install the package.

In [16]:
# Import the CSV file using pandas.

import pandas as pd
df = pd.read_csv('s3//bstn-rk-bucket/Online Retails.csv')